*{
    box-sizing: border-box;
}

body{
    background: #f15cde;
    color: #fff;
    line-height: 1.6;
    padding: 1em;
}

.container{
    max-width: 1170px;
    margin: 0 auto 0 auto;
    padding: 1em;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(107, 53, 78, 0.7);
}

.wrapper{
    padding: 1em;
}

.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact label{
    display: block;
}

.contact p{
    margin: 0;
}

.full{
    grid-column: 1/3;
}

.contact form button, .contact form input{
    width: 100%;
    padding: 1em;
    border: 2px ridge #12ca49;
}

.contact form button{
    background: #1ce676;
    border: 0;
    text-transform: uppercase;
}

@media (min-width: 700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding: 2em;
    }

    .form-info h3, .brand{
        text-align: left;
    }
}